@import "@radix-ui/colors/gray.css";

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.mainContainer {
  width: 100%;
  max-width: 1280px;
  margin: 1rem auto 0 auto;
}

.header {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
}

.headerMenu {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.headerLabel {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
}

.resultsContainer {
  align-items: center;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  position: relative;
  @apply shadow;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.posterContainer {
  background-color: var(--gray-4);
  border: 3px solid var(--gray-4);
  border-radius: 5px;
  width: 140px;
  @apply shadow-sm;
}

.poster {
  display: block;
  width: auto;
  height: 100%;
}

.titleMenu {
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.lineContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.boxContainer {
  border: 1px solid var(--gray-3);
  border-radius: 5px;
  padding: 10px;
}

label {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.title {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: bold;
}

.description {
  font-family: Montserrat;
  font-size: 18px;
}

.smallText {
  font-family: Montserrat;
  font-size: 12px;
}

.watchlistStatus {
  text-align: center;
  font-family: Montserrat;
  color: var(--gray-7);
  margin: 5rem auto 0 auto;
}

.bold {
  font-weight: bold;
}

.red {
  color: #ff0000;
}

.gray {
  color: var(--gray-9);
}
