@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.footerContainer {
  display: flex;
  height: 3rem;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  margin-top: auto;
  @apply shadow-inner;
}

.text {
  font-family: Montserrat;
  font-size: 12px;
}
